
body {
    background-color: rgb(27, 27, 27);
    color: white;
}
#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    border:white 2px solid;
    padding:20px;
}
